{% extends "base.html" %}
{% block content %}
<div class="About_Us">
        <h1 class="title1">ZenZone</h1>
        <h2 class="title2">What We Do?</h2>
        <div class="about_container">
            <span><p>In a world so technologically intertwined, digital immersion can have us more disconnected than ever. People of all ages are finding themselves unpredictably demoralised and demotivated.The ability the compare and consume online content indiscriminately has destroyed self esteem and self control.Here at ZenZone, we know that online wellbeing has become a critical emotional metric that is able to affect us in unprecedented ways . We aim to create a quantifiable emotional assessment centre (i.e. the ZenZone) that determines an area in a User's life requiring attention. Users are then provided with new, tailored links to tools that give them a place to start.</span>
            <h3 class="title3">Three Dimension of ZenZone Algorithm</h3>
            <div class="about_item">
              <h5>Step 1: Zenzone Assessment</h5>
              <p>
                Our Zenzone assessment includes a bank of over 20 question designed to improve a Users wellbeing by locating ares for development. The assessment tests for signifcant lifestyle deficiencies but focus predominatly on online wellbeing.
              </p>
            </div>
            <div class="about_item">
              <h5>Step 2: Creating Zenzone Recommendation</h5>
              <p>
                Our Zenzone algorithm uses a score-based system to provide feedback of user wellbeing condition. It prvides suggestions and guidlines to people about their mental condition and online concious. 
              </p>
            </div>
            <div class="about_item">
              <h5>Making Change</h5>
              <p>
                Users are providd with an area of their life to develop, and access to randomly - generated relevent tools.
              </p>
            </div>
         
          </div>
        <div class="contact-details">
            <h3>Get in touch</h3>  
            <ul>
                <p>If you have any query or information, please contact us:</p>
                <li>email@libdo.ac.uk</li>
                <li>+4470007070790</li>
                <li>Ⓒ2022 Spring Board</li>
          
            </ul>
        </div>
    </div>
{% endblock %}
# Put a Map, pins of places around a world
