{% extends "base.html" %}
{% block content %}
<h1>ZenZone</h1>
<h2>Our mission</h2>
<p>In a world so technologically intertwined, digital immersion can have us more disconnected than ever. People of all ages are finding themselves unpredictably demoralised and demotivated</p>
<p>The ability the compare and consume online content indiscriminately has destroyed self esteem and self control. </p>
<p>Here at ZenZone, we know that online wellbeing has become a critical emotional metric that is able to affect us in unprecedented ways . We aim to create a quantifiable emotional assessment centre (i.e. the ZenZone) that determines an area in a User's life requiring attention. Users are then provided with new, tailored links to tools that give them a place to start.
<p></p>
<h1></h1>ZenZone Algorithm</hq>
<h2>Step 1: ZenZone Assessmment</h2>
<p>Our ZenZone Assessment includes a bank of over 20 questions designed to improve a User's wellbeing by locating areas for development. The assessment tests for significant lifestyle deficiencies but focus predominantly on online wellbeing.</p>
<h2>Step 2: Creating the Zen Recommendation</h2>
<p>Our ZenZone algorithm uses a score-based system to </p>
<h2>Step 3: Making a Change</h2>
<p></p>Users are provided with an area of their life to develop, and access to randomly-generated relevant tools.
<p>If you have more information, please contact us on email@LIBDO.com or +44 70777000707</p>
{% endblock %}
# Put a Map, pins of places around a world