{% extends "base.html" %}
{% block content %}
<h1> LIBDO - Facillitating Green Growth in Developing Countries</h1>
<h2> Our Mission</h2>
<p>At LIBDO, we are focused on pairing startups in developing countries with foreign investors without red-tape</p>
<p>We aim to help countries grow, by reducing the brain drain & parnerships with micro-loans</p>

<p>How do we achieve this? Through a 3 step plan</p>

<h3>Step 1</h3>
<p>Complete our questionnaire to assess your suitability to be linked with a startup in a LEDS</p>

<h3>Step 2</h3>
<p>Review the results of your questionnaire to see whether you would be a good match</p>

<h3>Step 3</h3>
<p>If suitable, we will contact you to discuss how you can provide renewable energy & micro-loans to companies & the benefits this would provide to you</p>

<p>If you have more information, please contact us on email@LIBDO.com or +44 70777000707</p>

{% endblock %}

# Put a Map, pins of places around a world