{% extends "base.html" %}
{% block content %}
  <br>
  <h1>ESG Compatibility Questionnaire</h1>
  <form method="post" name="registerform">
      {{ form.hidden_tag() }}
      <p>
        Company Name <br>
       {{ form.name(class="form-control form-control-lg margin-top-lg") }}
        {% if form.name.errors %}
        
              {% for error in form.name.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          {% endif %}
      </p>
      <p>
        Industry <br>
       {{ form.industry(class="form-control form-control-lg margin-top-lg") }}
        {% if form.industry.errors %}
        
              {% for error in form.industry.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          {% endif %}
      </p>
      <p>
        Where are you based? <br>
       {{ form.country(class="form-control form-control-lg margin-top-lg form-select") }}
        {% if form.country.errors %}
        
              {% for error in form.country.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          {% endif %}
      </p>
      <p>
        How long have you been operating? <br>
        {{ form.time_of_operation(class="form-control form-control-lg") }}
        {% if form.time_of_operation.errors %}
          {% for error in form.time_of_operation.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        What was your last year's gross income? <br>
        {{ form.gross_income(class="form-control form-control-lg") }}
        {% if form.gross_income.errors %}
          {% for error in form.gross_income.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        What was your last year's net profit? <br>
        {{ form.net_profit(class="form-control form-control-lg") }}
        {% if form.net_profit.errors %}
          {% for error in form.net_profit.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        What were your electricity emissions for the last 12 months? (kWh)<br>
        {{ form.elec_emissions(class="form-control form-control-lg") }}
        {% if form.elec_emissions.errors %}
          {% for error in form.elec_emissions.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        What were your natural gas emissions for the last 12 months? (m^3)<br>
        {{ form.gas_emissions(class="form-control form-control-lg") }}
        {% if form.gas_emissions.errors %}
          {% for error in form.gas_emissions.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        What were your CO2 Emissions for the last 12 months? (equiv. metric tons)<br>
        {{ form.co2_emissions(class="form-control form-control-lg") }}
        {% if form.co2_emissions.errors %}
          {% for error in form.co2_emissions.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        How many litres of fuel did you consume in the last 12 months? <br>
        {{ form.fuel_consumption(class="form-control form-control-lg") }}
        {% if form.fuel_consumption.errors %}
          {% for error in form.fuel_consumption.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        Do you outsource your work? <br>
        {{ form.work_outsourced(class="form-control form-control-lg") }}
        {% if form.work_outsourced.errors %}
          {% for error in form.work_outsourced.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        If you answered yes, how far do you outsource your work? Otherwise, answer N/A <br>
        {{ form.work_outsourced_dist(class="form-control form-control-lg") }}
        {% if form.work_outsourced_dist.errors %}
          {% for error in form.work_outsourced_dist.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        Upload Documents <br>
        {{ form.upload(class="form-control form-control-lg") }}
        {% if form.upload.errors %}
          {% for error in form.upload.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>

      <p><input type="submit" class="btn btn-success btn-block col-12 login-button" value="Register"></p>
   
  </form>
  <p>Already have an account? <a href="/login">Log in</a></p>

{% endblock %}
