{% extends "base.html" %}
{% block content %}
  <br>
  <h1>Sign Up</h1>
  <div>
  <form method="post" name="registerform">
      {{ form.hidden_tag() }}
      <p>
        Company Name <br>
       {{ form.name(class="form-control form-control-lg margin-top-lg") }}
        {% if form.name.errors %}
        
              {% for error in form.name.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          {% endif %}
      </p>
      <p>
        Industry <br>
       {{ form.industry(class="form-control form-control-lg margin-top-lg") }}
        {% if form.industry.errors %}
        
              {% for error in form.industry.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          {% endif %}
      </p>
      <p>
        Country <br>
       {{ form.country(class="form-control form-control-lg margin-top-lg form-select") }}
        {% if form.country.errors %}
        
              {% for error in form.country.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          {% endif %}
      </p>
      <p>
        Time of Operation <br>
        {{ form.time_of_operation(class="form-control form-control-lg") }}
        {% if form.time_of_operation.errors %}
          {% for error in form.time_of_operation.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        CO2 Emmisions<br>
        {{ form.emissions(class="form-control form-control-lg") }}
        {% if form.emissions.errors %}
          {% for error in form.emissions.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        Fuel Consumption <br>
        {{ form.fuel_consumption(class="form-control form-control-lg") }}
        {% if form.fuel_consumption.errors %}
          {% for error in form.fuel_consumption.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        Work Outsourced <br>
        {{ form.work_outsourced(class="form-control form-control-lg") }}
        {% if form.work_outsourced.errors %}
          {% for error in form.work_outsourced.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        Work Outsourced <br>
        {{ form.work_outsourced(class="form-control form-control-lg") }}
        {% if form.work_outsourced.errors %}
          {% for error in form.work_outsourced.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        Upload Documents <br>
        {{ form.upload(class="form-control form-control-lg") }}
        {% if form.upload.errors %}
          {% for error in form.upload.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>

      <p><input type="submit" class="btn btn-success btn-block col-12 login-button" value="Register"></p>
   
  </form>
</div>

{% endblock %}
