<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/424c271c6d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="Main_container">
            <!-- Top bar -->
            <div class = "TopBar">
                <div id="navbar">
                    <!-- Logo -->
                    <span class = "ttl">
                        <a href="#default" id="logo"><h1>Green Earth </h1><p>Steps towards Sustainable Development</p></a>
                    
                    </span>

                    <div id="navbar-right">
                    
                      <a class="active" href="#home">Home</a>
                      <a href="#contact">Contact</a>
                      <a href="#about">About</a>
                    </div>
                  
                

                </div>
            </div>
        <!-- End of Top BAr -->

        <!-- Content -->
        <div class="content1">
            <div class="abt_content">
                <h1>Promoting Global Green Incentivise <br> Around the world  </h1>
                <p>Anything is achievable with the appropriate combination of aspiration, knowledge, and invention.</p>
            </div>
            <div class="scroll_link">
                <span><a href="" class="scroll_btm"><img src="/photos/Picture 1.png"></a></span>
            </div>
            
        </div>

    
            
        
    </div>
    <!-- <div class="ourmission">
        <h1>hi</h1>
    </div> -->
</body>
</html>