<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/424c271c6d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="/styling/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="Main_container">
      <!-- Top bar -->
      <div class="TopBar">
        <div id="navbar">
          <!-- Logo -->
          <span class="ttl">
            <a href="index.html" id="logo"
              ><h1>Spring Board</h1>
              <p>Steps towards happy and better life</p></a
            >
          </span>

          <div id="navbar-right">
            <a href="#about">About Us</a>
            <a href="#contact">Questionaire</a>
           
          </div>
        </div>
      </div>
      <!-- End of Top BAr -->

      <!-- Content -->
      <div class="content1">
        <div class="abt_content">
          <div class="Main_content">
            <h1>
              Bringing happiness and peace<br />
              Around the world
            </h1>
            <p>
              Smile and Gratitude is a vaccine, an antitoxin, and an antiseptic.
            </p>
          </div>
          <div class="side_img">
            <img src="photos/pexels-marta-wave-6437821-removebg-preview.png" />
          </div>
        </div>
        <div class="link_content">
          <div class="scroll_link">
            <a href="#Ourmission" class="scroll_btm"><p>↓</p></a>
          </div>
        </div>
      </div>
    </div>
    <div class="Secondary_Content" id="Ourmission">
      <span class="Sp1">
        <h1>Our Mission</h1>
      </span>
      <span class="Sp2">
        <h5>We care for your Wellbeing, We provide support for your online Wellbeing</h5>
      </span>

      <div class="grid-container">
        <div class="area-item">
          <h6>Smile on your Face</h6>
          <p>
            “Lighten up, just enjoy life, smile more, laugh more, and don’t get
            so worked up about things.” ~ Kenneth Branagh
          </p>
        </div>
        <div class="area-item">
          <h6>Healthy life</h6>
          <p>
            “It is health that is the real wealth, and not pieces of gold and
            silver.” – Mahatma Gandhi
          </p>
        </div>
        <div class="area-item">
          <h6>Emotional Support and Counselling</h6>
          <p>
            “Stay positive! The only difference between a good day and a bad day
            is your attitude.” - Ralph Waldo Emerson
          </p>
        </div>
        <div class="area-item">
          <h6>Fitness Guide</h6>
          <p>
            “Your health account and bank account are the same thing. The more
            you put in, the more you can take out. Exercise is king and
            nutrition is queen. Together you have a kingdom.” - Jack LaLanne
          </p>
        </div>
        <div class="area-item">
          <h6>Social and Spirtual Wellness</h6>
          <p>
            "We can never obtain peace in the outer world until we make peace
            with ourselves." -Dalai Lama
          </p>
        </div>
        <div class="area-item">
          <h6>Intecllectual Wellness</h6>
          <p>
            "Surround yourself with positive energy.Good vibes translates into
            good moods and better health around" - Thapa
          </p>
        </div>
      </div>
    </div>
    <div class="Inspiration">
      <h1>Motivational Story</h1>
      <div class="story">
        <div class="about-section">
          <div class="about-profile">
            <img class="about-img" src="/photos/stepen.jpg" />
          </div>
          <div class="about-content">
            <p>
              Steven Spielberg was rejected both times he applied to school at
              University of Southern California (USC). He didn’t let that
              rejection stop him from pursuing his dreams of being a film
              director. He now has a personal worth of $3 billion and the gross
              value from the films he has directed exceeds $9 billion. He was
              later awarded an honorary degree from USC.
            </p>
          </div>
        </div>
      </div>
      <div class="about-section">
        <div class="about-content">
          <p>
            Einstein didn’t start speaking until he was four years old. There
            was some concern on the part of his parents he might be somewhat
            backward. During his school years he showed no special aptitude
            because of his dislike for rigid methods of instruction and he was
            cited by school officials as being disruptive. He failed the
            entrance exam to a university a number of times and he made his
            great discoveries while working by day in a low-level clerical job.
            Many today believe he was dyslexic and yet he is still widely
            considered to be one of the smartest individuals that ever lived.
          </p>
        </div>
        <div class="about-profile">
          <img class="about-img" src="/photos/albrt.jpg" />
        </div>
      </div>
    </div>
    <!-- contact -->
    <div class="Footer">
       <h4>Feel Free , Stay happy</h4>
        <h4>Ⓒ2022 Spring Board</h4>
    </div>
    
  </body>
</html>
